<body class="home">
  <% if user_signed_in? %>
  <nav class="navbar navbar-ct-azure navbar-fixed-top" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand" href="#">Skoosm</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
              <li><a href="#" class="btn btn-round btn-default">Sign in</a></li>
              <li><a href="#" class="btn btn-round btn-default">Sign up</a></li>
         </ul>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <% else %>
  <nav class="navbar navbar-ct-azure navbar-fixed-top" role="navigation">
      <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand" href="#">Skoosm</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
              <li><a href="#" class="btn btn-round btn-default">Sign in</a></li>
              <li><a href="#" class="btn btn-round btn-default">Sign up</a></li>
         </ul>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="wrapper">
      <div class="parallax filter-black">
          <div class="parallax-image">
              <img src="../assets/img/thumb.jpg" alt="..." />
          </div>
          <div class="small-info">
              <h1>Skoosm</h1>
              <h3>Your college companion!</h3>
          </div>
      </div>

      <div class="section section-description">
             <div class="container">
                 <h2 class="section-title">So what is this?</h2>

                 <div class="row">
                      <div class="col-md-6">
                         <h5>Shoulders of Giants</h5>
                         <p>
                             Isaac Newton once said "If I have seen further than others, it is by standing on the shoulders of giants." You are not the first person to have struggled with this problem for this class and you will not be the last. Skoosm is a place where studnets can find the answers to their problems and help others with theirs as well.</p>
                          </p>Be sure to sign up and browse around for anything that may help with your classes or help others and recieve rewards. </p>

                     </div>
                     <div class="col-md-6">
                          <div id="description-carousel" class="carousel fade" data-ride="carousel">
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                  <img src="../assets/img/thumb.jpg" alt="..." />
                                </div>
                                <div class="item">
                                  <img src="../assets/img/thumb.jpg" alt="..." />
                                </div>
                                <div class="item">
                                  <img src="../assets/img/thumb.jpg" alt="..." />
                                </div>
                              </div>

                              <ol class="carousel-indicators">
                                <li data-target="#description-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#description-carousel" data-slide-to="1"></li>
                                <li data-target="#description-carousel" data-slide-to="2"></li>
                              </ol>
                        </div>
                     </div>
                  </div>
             </div>
      </div><!-- section -->
      <div class="space-50"></div>



      <div class="section section-features-2">
             <div class="container">
                 <h2 class="section-title">Simply Put</h2>
                 <div class="row">
                     <div class="col-md-4">
                         <div class="info">
                              <div class="icon icon-azure">
                                  <i class="pe-7s-clock"></i>
                              </div>
                              <div class="description">
                                  <h5> Save Time </h5>
                                  <p class="text-muted">Spend your time generating new ideas. You don't have to think waste your time searching for something your classmates have already found.</p>
                              </div>
                          </div>
                       </div>
                        <div class="col-md-4">
                         <div class="info">
                              <div class="icon icon-orange">
                                  <i class="pe-7s-ticket"></i>
                              </div>
                              <div class="description">
                                  <h5> Get Rewards </h5>
                                  <p class="text-muted">Help out your fellow students by posting helpful links or answering their questions and recieve rewards from local businesses.</p>
                              </div>
                          </div>
                       </div>
                       <div class="col-md-4">
                         <div class="info">
                              <div class="icon icon-green">
                                  <i class="pe-7s-cash"></i>
                              </div>
                              <div class="description">
                                  <h5> Save Money </h5>
                                  <p class="text-muted">Take our the middle man with student to student book sales that provide students with much needed extra cash.</p>
                              </div>
                          </div>
                       </div>
                 </div>
             </div>
      </div><!-- section -->

      <div class="section section-testimonials">
          <div class="container">
              <h2 class="section-title">What people think...</h2>
               <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row">
                              <div class="col-md-6">
                                   <div class="card card-plain">
                                      <div class="content">
                                          <a target="_blank" href="http://www.creative-tim.com/product/get-shit-done-pro">
                                              <h4 class="title">This has to be the greatest thing that has ever existed.</h4>
                                          </a>
                                           <div class="footer">
                                              <div class="author">
                                                  <a class="card-link" href="#">
                                                     <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                                     <span> Radu Tintescu </span>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div> <!-- end card -->
                               </div>
                               <div class="col-md-6">
                                   <div class="card card-plain">
                                      <div class="content">
                                              <h4 class="title">I can't imagine life without Skoosm.
                                              </h4>

                                           <div class="footer">
                                              <div class="author">
                                                  <a class="card-link" target="_blank" href="https://twitter.com/tudorvintilescu">
                                                     <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                                     <span> Alex Paduraru </span>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div> <!-- end card -->
                               </div>
                          </div> <!-- end row -->
                      </div>
                      <div class="item">
                        <div class="row">
                            <div class="col-md-6">
                                  <div class="card card-plain">
                                      <div class="content">
                                          <a target="_blank" href="">
                                              <h4 class="title">I have passed all of my classes thanks to Skoosm. </h4>
                                          </a>
                                           <div class="footer">
                                              <div class="author">
                                                  <a class="card-link" target="_blank" href="http://www.awwwards.com/">
                                                     <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                                     <span> Conacel Elena </span>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div> <!-- end card -->
                               </div>
                               <div class="col-md-6">
                                   <div class="card card-plain">
                                      <div class="content">
                                          <a target="_blank" href="http://www.creative-tim.com/product/get-shit-done-pro">
                                              <h4 class="title">Skoosm has saved me money on books and food.</h4>
                                          </a>
                                           <div class="footer">
                                              <div class="author">
                                                  <a class="card-link" target="_blank" href="#">
                                                     <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                                     <span> Jay Z </span>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div> <!-- end card -->
                               </div>

                        </div>
                      </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#testimonials-carousel" data-slide="prev">
                      <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control" href="#testimonials-carousel" data-slide="next">
                      <span class="fa fa-angle-right"></span>
                    </a>
              </div>
          </div>
      </div>

       <div class="social-line">
           <div class="container">
              <div class="row">
                   <div class="col-md-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                           <i class="fa fa-facebook-square"></i> Facebook
                       </a>
                   </div>
                    <div class="col-md-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-twitter">
                           <i class="fa fa-twitter"></i> Twitter
                       </a>
                   </div>
                    <div class="col-md-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-google">
                           <i class="fa fa-google-plus-square"></i> Google+
                       </a>
                   </div>
                   <div class="col-md-3">
                       <a href="" class="btn btn-round btn-fill btn-social btn-pinterest">
                           <i class="fa fa-pinterest"></i> Pinterest
                       </a>
                   </div>
              </div>
           </div>
       </div>


      <footer class="footer footer-big">
          <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <h5 class="title">Company</h5>
                      <nav>
                          <ul>
                              <li>
                                  <a href="#" >
                                      Home
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      About Us
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
                  <div class="col-md-4">
                      <h5 class="title"> Support</h5>
                      <nav>
                          <ul>
                              <li>
                                  <a href="#">
                                     Contact Us
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
                  <div class="col-md-4">
                      <h5 class="title"> Help</h5>
                      <nav>
                          <ul>
                              <li>
                                  <a href="#">
                                      Terms & Conditions
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      Company Policy
                                  </a>
                              </li>
                          </ul>
                      </nav>

                  </div>

              </div>
              <hr />
              <div class="copyright">
                  &copy; 2017 Skoosm
              </div>
          </div>
      </footer>
  </div> <!-- wrapper -->
  <% end %>
</body>